/*
GENERAL
*/
html {
    scroll-behavior: smooth;
}


.titre-section {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}



/* ========================================================================= Hero styles ========================================================================== */
.hero-body {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.hero-body .title, .hero-body .subtitle {
    font-family: 'Open Sans', sans-serif;
}
.hero-body .title.is-bold {
    font-weight: 700;
}
.hero-body .subtitle.is-muted {
    color: #999;
}




/*
MODAL
*/

 .modal-wrap {
    top: 25%;
} 

.modal iframe {
    height: 315px;
}

.modal-head-bg {
    background-color: rgba(0, 0, 0, 0);
}

#modal-page .modal-card-body {
    background-color: #000000;
    padding: 0;
    width: 560px;
}

#close-modal {
    margin: 0 55px 10px 0;

}

/*
ABOUT
*/
.section-about {
    background-color:  #02040F;
}

.about .about-single-element {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.about .about-single-element p {
    color: #FFFFFF;
    text-align: left;
    margin-top: 25px;
}

.fa-laptop-code {
    color: #4111D1;
}

.fa-python {
   color:  hsl(348, 100%, 61%);
}

.fa-coffee {
    color: #52E9E8;
}



/*
TEST
*/
.section-test {
    background: linear-gradient(90deg, #4111D1,#52E9E8);
    /* background: -webkit-linear-gradient(90deg, rgb(2, 2, 98), rgb(176, 7, 169));
    background: linear-gradient(90deg, rgb(2, 2, 98), rgb(176, 7, 169)); */
}

.section-test h1 {
    color: #FFFFFF;
}

.section-test iframe{
    height: 400px;
}

/*
CONTACT
*/
.bulma-tag {
    margin-top: 35px;
}
.bd-is-try-it-out {
    margin-left: 100px;
}

/*FOOTER*/
.footer h4{
    font-family: 'Montserrat', sans-serif;
}

.footer .footer-informations {
    text-align: center;
}

.footer .footer-informations ul {
    padding: 0;
}

.footer .footer-informations ul li {
    display: inline-block;
}